/* BODY ***********************************************************************/

body {
    font-family: 'Open Sans',
    sans-serif;
    color: #3e2723;
    background-color: #fff8e1;
}

/* HEADINGS *******************************************************************/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}

/* LINKS **********************************************************************/

a, .btn-link { color: #bf360c; }

a:focus, a:hover, .btn-link:focus, .btn-link:hover {color: #bf360c; }

.navlink { font-weight: 600; }

/* FONT WEIGHT & STYLE ********************************************************/

.light { font-weight: 300; }

.semi-strong { font-weight: 600; }

.strong { font-weight: 700; }

.super-strong { font-weight: 800; }

.italic { font-style: italic; }

/* TABLES *********************************************************************/

th {
    color: #fff8e1;
    font-weight: 600;
    background-color: #4e342e;
}

th.active { background-color: #3e2723 !important; }

th.active a, th.active .btn-link { color: #ffc107; }

th a, th .btn-link {
    color: #ffc107;
    font-weight: 600;
}

th a:hover, th a:focus, th .btn-link:hover, th .btn-link:focus { color: #ffc107; }

th, td {
    border-top: 0px !important;
    border-bottom: 0px !important;
}

td.active, tr.active { background-color: #ffecb3 !important; }

.dayTable { margin-bottom: 0px; }

.dayTh-xs, .dayTh-xs > .btn-xs {
    padding-left: 0px;
    padding-right: 0px;
}

/* SPACING ********************************************************************/

.break { margin-bottom: 20px;}

address { margin-bottom: 0px;}

/* ALERT **********************************************************************/

.alert-sas {
    background-color: #ffecb3;
    border-color: #ffe082;
    color: #3e2723;
    font-weight: 600;
}

.alert-sas hr { border-top-color: #ffe082; }

.alert-sas .alert-link { color: #bf360c; }

.alert-sas .alert-link:focus, .alert-sas .alert-link:hover {color: #bf360c; }

/* PANEL **********************************************************************/

.panel-sas {
    border-color: #ffe082;
    background-color: #fff8e1;
}

.panel-sas > .panel-heading {
    background-color: #ffecb3;
    border-color: #ffe082;
    color: #3e2723;
}

.panel-sas > .panel-heading h1,
.panel-sas > .panel-heading h2,
.panel-sas > .panel-heading h3,
.panel-sas > .panel-heading h4,
.panel-sas > .panel-heading h5,
.panel-sas > .panel-heading h6,
.panel-sas > .panel-heading .h1,
.panel-sas > .panel-heading .h2,
.panel-sas > .panel-heading .h3,
.panel-sas > .panel-heading .h4,
.panel-sas > .panel-heading .h5,
.panel-sas > .panel-heading .h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-sas > .panel-heading .h4 { margin-top: 4px; }

.panel-sas > .panel-body h1,
.panel-sas > .panel-body h2,
.panel-sas > .panel-body h3,
.panel-sas > .panel-body h4,
.panel-sas > .panel-body h5,
.panel-sas > .panel-body h6,
.panel-sas > .panel-body .h1,
.panel-sas > .panel-body .h2,
.panel-sas > .panel-body .h3,
.panel-sas > .panel-body .h4,
.panel-sas > .panel-body .h5,
.panel-sas > .panel-body .h6 {
    margin-top: 0px;
}

.panel-sas > .panel-heading + .panel-collapse > .panel-body { border-top-color: #ffe082; }

.panel-sas > .panel-heading .badge {
    background-color: #3e2723;
    color: #ffecb3;
}


.panel-sas > .panel-footer + .panel-collapse > .panel-body { border-bottom-color: #ffe082; }

/* HR *************************************************************************/

hr {
    color: #4e342e;
    background-color: #4e342e;
    border-top-color: #4e342e;
    margin-bottom: 20px;
}

/* ROUNDED CORNERS ************************************************************/

.topLeft { border-top-left-radius: 4px; }

.topRight { border-top-right-radius: 4px; }

.bottomLeft { border-bottom-left-radius: 4px; }

.bottomRight { border-bottom-right-radius: 4px; }

/* NAVBAR *********************************************************************/

.navbar-sas {
    background-color: #4e342e;
    border-color: #3e2723;
    border-radius: 0;
}
.navbar-sas .navbar-brand { color: #ffc107; }

.navbar-sas .navbar-brand:focus,.navbar-sas .navbar-brand:hover {
    color: #ffc107;
    background-color: transparent;
    text-decoration: underline;
}

.navbar-sas .navbar-text { color: #fff8e1; }

.navbar-sas .navbar-nav > li > a { color: #ffc107; }

.navbar-sas .navbar-nav > li > a:focus, .navbar-sas .navbar-nav > li > a:hover {
    color: #ffc107;
    background-color: transparent;
    text-decoration: underline;
}

.navbar-sas .navbar-nav > .active > a {
    color: #ffc107;
    background-color: #3e2723;
}

.navbar-sas .navbar-nav > .active > a:focus, .navbar-sas .navbar-nav > .active > a:hover {
    text-decoration: underline;
}

.navbar-sas a.navbar-brand.active {
    color: #ffc107;
    background-color: #3e2723; 
}

.navbar-sas a.navbar-brand.active:focus, .navbar-sas a.navbar-brand.active:hover {
    text-decoration: underline;
}

.navbar-sas .navbar-nav > .disabled > a,
.navbar-sas .navbar-nav > .disabled > a:focus,
.navbar-sas .navbar-nav > .disabled > a:hover {
    color: #795548;
    background-color: transparent;
}

.navbar-sas .navbar-toggle { border-color: #3e2723; }

.navbar-sas .navbar-toggle:focus, .navbar-sas .navbar-toggle:hover{
    background-color: transparent;
    text-decoration: underline;
}

.navbar-sas .navbar-toggle .icon-bar { background-color: #ffc107; }

.navbar-sas .navbar-toggle:focus .icon-bar, .navbar-sas .navbar-toggle:hover .icon-bar {
    background-color: #ffc107;
    text-decoration: underline;
}

.navbar-sas .navbar-collapse,.navbar-sas .navbar-form { border-color: #3e2723; }

.navbar-sas .navbar-nav > .open > a {
    color: #ffc107;
    background-color: transparent;
}

.navbar-sas .navbar-nav > .open > a:focus .navbar-sas .navbar-nav > .open > a:hover {
    text-decoration: underline;
}

@media (max-width:767px){
    .navbar-sas .navbar-nav .open .dropdown-menu > .dropdown-header{ border-color: #3e2723; }
    
    .navbar-sas .navbar-nav .open .dropdown-menu .divider { background-color: #3e2723; }
    
    .navbar-sas .navbar-nav .open .dropdown-menu > li > a { color: #ffc107; }
    
    .navbar-sas .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-sas .navbar-nav .open .dropdown-menu > li > a:hover {
        text-decoration: underline;
    }

    .navbar-sas .navbar-nav .open .dropdown-menu > .active > a {
        color: #ffc107;
        background-color: #3e2723;
    }

    .navbar-sas .navbar-nav .open .dropdown-menu > .active > a:focus,
    .navbar-sas .navbar-nav .open .dropdown-menu > .active > a:hover {
        text-decoration: underline;
    }

    .navbar-sas .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-sas .navbar-nav .open .dropdown-menu > .disabled > a:focus,
    .navbar-sas .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        color: #795548;
        background-color:transparent;
    }
}

.navbar-sas .navbar-link { color: #ffc107; }

.navbar-sas .navbar-link:hover {
    color: #ffc107;
    text-decoration: underline;
}

.navbar-sas .btn-link { color: #ffc107; }

.navbar-sas .btn-link:focus,.navbar-sas .btn-link:hover {
    color: #ffc107;
    text-decoration: underline;
}

.navbar-sas .btn-link[disabled]:focus,
.navbar-sas .btn-link[disabled]:hover,
fieldset[disabled] .navbar-sas .btn-link:focus,
fieldset[disabled] .navbar-sas .btn-link:hover {
    color: #795548;
}
