[database]
adapter  = Mysql
host     = localhost
username = yourUsername
password = yourPassword
name     = yourDbName

[application]
baseUri  = /
viewsDir = app/views/
defaultNs = Brianwalden\SAS\Controllers

[namespaces]
Brianwalden\SAS\Controllers = app/controllers/
Brianwalden\SAS\Models      = app/models/
Brianwalden\SAS\Library     = app/library/
Brianwalden\SAS\Plugins     = app/plugins/
Carbon                      = app/library/vendor/Carbon/src/Carbon
